# Ignore everything but the whitelist
*

# White list
!.gitignore
!*.cs
!*.py
!*.txt
!*.conf

# White list any subdirectories
!*/

# But ensure these subdirectories ignored
Library/
Temp/
bin/
ProjectSettings/
*_Data/
*-*-*_*/