# Temporary file ignores
/Library
/Library/*
/obj
/objects
/refs
/Temp
*.csproj
*.pidb
*.sln
*.userprefs
*.suo

# Build ignores
/bin
/bin/*
/*_Data
*.exe

# Asset Ignores
*.png
*.psd
*.tga
*.tif
*.fbx
*.wav
*.mp3
*.flac
*.ogg
*.obj
*.db
*.mtl
*.max

# Unity ignores
*.asset
*.unity
*.prefab
*.controller
*.anim

# Python ignores
*.py
*.xz